.header{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #7f00b1;
}
.header__input {
  height: 44px;
  width: 100%;
  padding: 0 44px 0 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
}

.header__form-group {
  position: relative;
  display: flex;
  width: 30%;
  min-width: 300px;
}

.header__button {
  position: absolute;
  top: 50%;
  right: 0;
  width: 44px;
  height: 44px;
  border: none;
  background-color: transparent;
  transform: translateY(-50%);
}

.header__icon {
  width: 32px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - 60px) / 4);
  box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.3);
  transition: box-shadow .3s cubic-bezier(.05,.73,.96,.48);
}
.photo-card:hover,
.photo-card:focus {
  box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.3);
}

.card-thumb {
  height: 100%;
}

.card-image {
  object-fit: cover;
  height: 100%;
  min-height: 250px;
}

.info {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
  height: 68px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
  visibility: hidden;
}

.load-more {
  margin: 20px auto 0;
  height: 48px;
  padding: 0 50px;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #7f00b1;
  border: none;
  border-radius: 4px;
}